Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask==3.0.3
Jinja2==3.1.3
MarkupSafe==2.1.5
SQLAlchemy==2.0.29
Werkzeug==3.0.2
apscheduler==3.10.4
bcrypt==4.1.2
blinker==1.7.0
click==8.1.7
flask-apscheduler==1.13.1
flask-cors==4.0.1
flask-jwt-extended
flask-mail==0.10.0
flask_apscheduler
flask_email
greenlet==3.0.3
itsdangerous==2.1.2
marshmallow-sqlalchemy==1.0.0
marshmallow==3.21.3
opentelemetry-api==1.13.0
opentelemetry-exporter-otlp==1.13.0
opentelemetry-instrumentation-flask==0.34b0
opentelemetry-instrumentation-requests==0.34b0
opentelemetry-instrumentation-sqlalchemy
opentelemetry-sdk==1.13.0
phonenumbers==8.13.42
pre-commit==3.7.1
prometheus_flask_exporter
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pyyaml==6.0.1
setuptools==70.3.0
shortuuid
six==1.16.0
slugify
sqlalchemy-serializer==1.4.22
sqlalchemy-utils==0.41.2
typing_extensions==4.11.0
tzlocal==5.2
wrapt==1.16.0
zipp==3.19.2
